# Log level configuration for the frontend logger
# Valid values: trace, debug, info, warn, error
# Default: info (in development and production)
VITE_LOG_LEVEL=debug

# Log level configuration for the Tauri backend logger
# Valid values: trace, debug, info, warn, error
# Default: debug (in development), info (in production)
TAURI_LOG_LEVEL=info

#NOTE Only for development login
VITE_AUTH_TYPE=token
VITE_SERVER_URL=YOUR_SERVER_URL  # e.g., miniflux.example.com (without https://)
VITE_API_KEY=YOUR_KEY
