@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/raleway";
@import "./animation";
@import "./theme";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

/* Required for drag regions to work with touch/pen on Windows */
*[data-tauri-drag-region] {
  -webkit-app-region: drag;
  app-region: drag;
}
