name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Release please
        uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: node
          package-name: tauri-template
          token: ${{ secrets.GITHUB_TOKEN }}

      # Build Tauri app when release is created
      - name: Check out code
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@v4

      - name: Setup Bun
        if: ${{ steps.release.outputs.release_created }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        if: ${{ steps.release.outputs.release_created }}
        run: bun install

      - name: Type check
        if: ${{ steps.release.outputs.release_created }}
        run: bun run typecheck

      - name: Build Tauri
        if: ${{ steps.release.outputs.release_created }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bun run tauri:build
